// Fuentes
$fuente_principal : 'Raleway', sans-serif;

// Tamaño de Media Queries
$phone:300px;
$tablet:600px;
$desktop:1024px;

// Colores
$primary: #04abeb;
$second:#000000; 
$third: #ff2e17;

$gray: #d5d8e3;
$white: #FFFFFF;
$black:#000000;
$pink:#eb006b;
$colorGradienteA:#13d4bd;
$colorGradienteB:#04acea;

